export(
  Aggregate,
  bootindex_circularblock,
  bootindex_movingblock,
  bootindex_stationary,
  clarkwest,
  CT,
  dmw_calculation,
  dmw_mse,
  extract_target,
  extract_predictors,
  HasMethod,
  makecorr,
  mccracken_criticalvalue,
  mixedbootstrap,
  mixedwindow,
  predict.Aggregate,
  predict.CT,
  recursive_forecasts,
  rvar,
  stepm)

importFrom(MASS, mvrnorm)
